pid /tmp/radar-pd-nginx/nginx.pid;
error_log /dev/stderr warn;

events {
    worker_connections 1024;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
    access_log /dev/stdout;
    client_body_temp_path /tmp/radar-pd-nginx/client-body;
    proxy_temp_path /tmp/radar-pd-nginx/proxy;
    fastcgi_temp_path /tmp/radar-pd-nginx/fastcgi;
    uwsgi_temp_path /tmp/radar-pd-nginx/uwsgi;
    scgi_temp_path /tmp/radar-pd-nginx/scgi;

    server {
        listen 8081;
        server_name _;
        absolute_redirect off;
        client_max_body_size 2g;

        location ${EP_PATH}/ws {
            proxy_pass http://127.0.0.1:8080/ws;
            proxy_http_version 1.1;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_read_timeout 86400;
            proxy_send_timeout 86400;
        }

        location ${EP_PATH} {
            alias /app/www-content/;
            try_files $uri $uri/ @proxy;
        }

        location @proxy {
            rewrite ^${EP_PATH}/(.*) /$1 break;
            proxy_pass http://127.0.0.1:8080;
            proxy_http_version 1.1;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_read_timeout 86400;
            proxy_send_timeout 86400;
        }
    }
}
