GSAS-II @ git+https://github.com/AdvancedPhotonSource/GSAS-II.git
streamlit
pandas
pyyaml
torch --index-url https://download.pytorch.org/whl/cpu
scikit-learn
pymatgen
plotly
matplotlib
Pillow
gdown
h5py
imageio
pycifrw
xmltodict
